

.navigation,
.logo-tab-desk {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.navigation__icon {
    margin-right: 10px;
    fill: currentColor;
}

.icon-smartphone-tab {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }
}
.icon-envelope-tab {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 10px;
    }
}

.navigation__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-text-tittle);
    font-family: "Roboto", "Tahoma", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--time), fill 250ms var(--time)
 
}

.navigation__adress .navigation__link {
    color: var(--color-text-section);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.navigation .navigation__list {
    margin-left: 93px;
}

.navigation__list .navigation__link.current {
    color: var(--accent-color);
}

.navigation__list .navigation__item+.navigation__item {
    margin-left: 50px;
}

.header,
.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__list.navigation__adress {
    margin-left: auto;
}

.navigation__adress {
    @media screen and (max-width: 767px) {
    display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 21px;
    margin-bottom: 21px;   
  }
}

#nav-item-tab {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 84px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }   
    }
}

.nav-link-tab {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    }
}
