 :root {
     --color-text-tittle: #212121;
     --color-text-section: #757575;
     --color-main-bgd: #2f303a;
     --accent-color: #2196f3;
     --base-color: #ffffff;
     --time: cubic-bezier(0.4, 0, 0.2, 1);
 }

