.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.list-name {
    padding: 20px 24px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text-tittle);
}

.portfolio-name {
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    transition: border 250ms var(--time), box-shadow 250ms var(--time);
    
    &:hover,
    &:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.cards-portfolio {
    position: relative;
    overflow: hidden;
}

.descr-overlay {
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms var(--time);
    transform: translateY(100%);

    .portfolio-item:hover & {
    transform: translateY(0);
    }
}