.button-filter {
    padding: 6px 22px;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--color-text-tittle);
    background-color: #f5f4fa;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: color 250ms var(--time),
    background-color 250ms var(--time), box-shadow 250ms var(--time);

    &:hover,
    &:focus {
    color: var(--base-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.filter {
    margin-bottom: 50px;
    
    &-list {
    display: flex;
    justify-content: center;
}
}

.button-list+.button-list {
    margin-left: 8px;
}