.border {
    border-bottom: 1px solid #ececec;
}

.portfolio {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    padding-top: 94px;
    padding-bottom: 124px;
}