.footer {
    background-color: #2f303a;
    @media screen and (min-width: 1200px) {
   }
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}

.logo-footer__accent {
    color: var(--base-color);
}

.footer-main {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-main>div {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;   
    }
}

.footer-adress {
    color: var(--base-color);
    margin-bottom: 9px;
    margin-top: 0;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--time);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.footer-link,
.footer-adress {
    font-style: normal;
    text-decoration: none;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-go {
    @media screen and (max-width: 1199px) {
            text-align: center;
        }
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.adress-go {
    @media screen and (max-width: 1199px) {
      text-align: center;  
    }
    
    @media screen and (min-width: 1200px) {
    margin-right: 70px;
    }
    
}

.links-go {
    @media screen and (max-width: 767px) {
       margin-top: 60px;
    }
}

.footer-link-soc {
    @include flexCenter;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    transition: background-color 250ms var(--time);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
}

.footer-link:not(:last-child) {
    margin-bottom: 9px;
    display: block;
}


.footer-svg {
    fill: currentColor;
}

.footer-item+.footer-item {
    padding-left: 10px;
}

.footer-list {
    @media screen and (max-width: 1199px) {
    align-items: center;
    justify-content: center;
    }
    display: flex;
    margin-top: 20px;
}

.footer-tablet {
    align-items: baseline;
   @media screen and (min-width: 768px){
       display: flex;
   }
   @media screen and (max-width: 1199px) {
        
        justify-content: space-between;
        padding-left: 76px;
        padding-right: 89px; 
   }     
    
}

.footer-subskr {
    margin-top: 60px;
    text-align: center;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 166px;
    padding-right: 152px;
    }
    
    @media screen and (min-width: 1200px) {
     margin-left: 93px;  
     text-align: start;
    margin-top: 0px;
    }
}

.subskr-tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.subskr-input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
    }
 
}

.subskr-button {
    @include flexCenter;
    width: 200px;
    height: 50px;
    font-weight: 700;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    padding: 13px 28px;
    border-color: transparent;
    margin: auto;
}

.svg-send {
    margin-left: 10px;
}

.form-flex {
    @media screen and (min-width: 1200px) {
        display: flex; 
    }
   
}

